In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
                   'monkey', 'parrot', 'shark', 'whale', 'zebra']})

In [3]:
df

      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey
5     parrot
6      shark
7      whale
8      zebra

In [4]:
df.tail()

   animal
4  monkey
5  parrot
6   shark
7   whale
8   zebra

In [5]:
df.tail(3)

  animal
6  shark
7  whale
8  zebra

In [6]:
df.tail(-3)

   animal
3    lion
4  monkey
5  parrot
6   shark
7   whale
8   zebra